[user]
    name  = Arun
    email = visionofarun@gmail.com
    signingkey = 6E03944C9957360C

[credential]
    helper = store

[commit]
    gpgSign = true

[tag]
    forceSignAnnotated = true
	gpgsign = true

[alias]
    br  = branch
    ci  = commit --signoff
    cr  = crecord
    co  = checkout
    cob  = checkout -b
    cot  = checkout -t
    df  = diff
    g   = grep -I
    loq = log --graph --all --format=format:'%C(bold blue)%h%C(reset) - %C(bold green)(%ar)%C(reset) %C(white)%s%C(reset) %C(bold white) %an%C(reset)%C(bold yellow)%d%C(reset)' --abbrev-commit --date=relative
    l = log --graph --decorate -20 --date-order --date=format:'%Y-%m-%d %H:%M' --pretty=format:'%C(bold blue)%h%Creset %C(black bold)%ad%Creset %s %C(bold blue)%aN%Creset%C(auto)%d'
    ll = log --graph --decorate --date-order --date=format:'%Y-%m-%d %H:%M' --pretty=format:'%C(bold blue)%h%Creset %C(black bold)%ad%Creset %s %C(bold blue)%aN%Creset%C(auto)%d'
    lg = log --graph --decorate --all --date-order --date=format:'%Y-%m-%d %H:%M' --pretty=format:'%C(bold blue)%h%Creset %C(black bold)%ad%Creset %s %C(bold blue)%aN%Creset%C(auto)%d'
    la = !git lg $(git rev-list -g --all)
    desc = log --decorate --date-order --date=format:'%Y-%m-%d %H:%M:%S' --pretty=format:'%C(bold blue)%h%Creset %C(black bold)%ad%Creset %C(bold blue)%aN%Creset%C(auto)%d %n%s%n%b'
    fp  = push --force-with-lease
    bd  = branch -d
    st  = status -s
    vim = difftool
    # Use `git clone git://127.0.0.1/ <new-repo-name>` on the client
    serv = daemon --reuseaddr --base-path=. --export-all --verbose --enable=receive-pack
    mt = mergetool
    m3 = mergetool -t merge3
    fatcommits = !git rev-list --objects --all | git cat-file --batch-check='%(objecttype) %(objectname) %(objectsize) %(rest)' | sed -n 's/^blob //p' | sort --numeric-sort --key=2 | cut -c 1-12,41- | $(command -v gnumfmt || echo numfmt) --field=2 --to=iec-i --suffix=B --padding=7 --round=nearest
    anno = blame
    id = rev-parse --short HEAD
    he = rebase -i
    rmbr = "!f(){ git branch -d ${1} && git push origin --delete ${1}; };f"


[branch]
    autosetuprebase = always

[color]
    ui = auto

[color "branch"]
    current = yellow reverse
    local   = yellow
    remote  = green

[color "diff"]
    meta = yellow 
    frag = magenta 
    old  = red 
    new  = green 

[color "status"]
    added     = green
    changed   = yellow
    untracked = cyan

[diff]
    tool = vimdiff
	noprefix = true

[diff "exif"]
    textconv = exiftool

[difftool]
    prompt = false

[merge]
    tool = vimdiff
    log = true

[push]
  #default = simple
    autoSetupRemote = true

[rerere]
    enabled = 1

[url "git@github.com:"]
    insteadOf = https://github.com/
    pushInsteadOf = "github:"
    pushInsteadOf = "git://github.com/"

[url "git://github.com/"]
    insteadOf = "github:"

[url "git@gist.github.com:"]
    insteadOf     = "gst:"
    pushInsteadOf = "gist:"
    pushInsteadOf = "git://gist.github.com/"

[url "git://gist.github.com/"]
    insteadOf = "gist:"

[url "git@heroku.com:"]
    insteadOf = "heroku:"

[url "https://github"]
    insteadOf = git://github
[push]
    default = simple
[mailmap]
    file = /home/arun/.mailmap
[core]
    editor = vim
    autocrlf = input
[http]
    sslVerify = false
[mergetool "merge3"]
    cmd = vim -d -c \"wincmd l\" \"$LOCAL\" \"$MERGED\" \"$REMOTE\"
[status]
    relativePaths = true
[init]
    defaultBranch = main
[color "blame"]
    highlightRecent = 234, 23 month ago, 235, 22 month ago, 236, 21 month ago, 237, 20 month ago, 238, 19 month ago, 239, 18 month ago, 240, 17 month ago, 241, 16 month ago, 242, 15 month ago, 243, 14 month ago, 244, 13 month ago, 245, 12 month ago, 246, 11 month ago, 247, 10 month ago, 248, 9 month ago, 249, 8 month ago, 250, 7 month ago, 251, 6 month ago, 252, 5 month ago, 253, 4 month ago, 254, 3 month ago, 231, 2 month ago, 230, 1 month ago, 229, 3 weeks ago, 228, 2 weeks ago, 227, 1 week ago, 226
[blame]
    coloring = highlightRecent
    date = human
[gpg "openpgp"]
	program = gpg
[format]
	signOff = true
